#app .navbar .home-link span:before {
  display: inline-block;
  content: "";
  width: 3rem;
  height: 2.4rem;
  background: url("../img/CC.jpg") no-repeat;
  background-size: cover;
  vertical-align: middle;
}
